<div class="container-fluid overflow-x-hidden" id="page-container">
    <%= render 'header' %>
    <div class="container-fluid p-0">
        <div class="row g-2">
            <%= render 'home/lines/first' %>
            <%= render 'home/lines/second' %>
            <%= render 'home/lines/third' %>
        </div>
    </div>
    <%= render 'footer' %>
</div>